// Colors main
$color-white: #fbfbfb;
$color-black: #000;
$color-primary: #94447c;
$color-secondary: #49c0b8;

// Colors additional
$color-botticelli: #d6e4ec;
$color-regent-gray: #7e919f;

// Shadows
$box-shadow-1: 0 2px 8px rgba(117, 131, 142, 0.04), 0 16px 24px rgba(52, 60, 68, 0.12);

//  Fonts
$font-primary: 'Metropolis', 'Arial', sans-serif;
