.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(1);
	background: $gradient-1;
	z-index: 15;
	overflow: hidden;
	transition: $transition;

	&[aria-hidden='true'] {
		transform: scale(0);
	}
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 60px;
	color: $color-emperor;
	background-color: $color-white;
	border-radius: 16px;
	box-shadow: $box-shadow-1;

	@include resolution(big-mobile) {
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		transform: translate(0);
		border-radius: 0;
	}

	form {
		text-align: center;
	}
}

.title {
	margin-bottom: 30px;
	font-size: 24px;
}

.fieldset {
	position: relative;
	margin-bottom: 20px;
	padding: 0;
	border: none;
}

.input {
	padding: 10px;
	border: 2px solid $color-botticelli;
	border-radius: 8px;
	transition: $transition;
	font-size: 14px;

	&::placeholder {
		color: $color-emperor;
		font-size: 14px;
	}

	&:focus::placeholder {
		color: transparent;
	}

	&:hover {
		box-shadow: $box-shadow-2;
	}

	&:focus {
		outline: none;
		border-color: $color-secondary;
	}

	&[data-error='true'] {
		border-color: $color-red;

		&::placeholder {
			color: transparent;
		}
	}
}

.button {
	font-size: 14px;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid;
	border-radius: 8px;
	background-color: $color-white;
	box-shadow: $box-shadow-2;
	color: $color-primary;

	&:hover {
		color: $color-white;
		background-color: $color-primary;
		border-color: $color-primary;
	}
}

.inputButton {
	width: 45px;
	height: 45px;
	color: $color-white;
	border-radius: 100%;
	border: 1px solid;
	background: $gradient-1;

	&:hover {
		background: $gradient-2;
	}

	&:focus {
		outline: none;
	}

	&[data-error='true'] {
		border-color: $color-red;
	}
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	color: $color-emperor;
	padding: 10px;
	font-size: 22px;
	background-color: transparent;
	border: none;

	&:hover {
		color: $color-primary;
	}

	@include resolution(big-mobile) {
		top: 30px;
		right: 30px;
	}
}

.errorAlert {
	display: none;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: center;

	&.errorAlertExists {
		display: block;
	}
}

.loader {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;

	& div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		margin: 8px;
		border: 4px solid $color-primary;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: $color-primary transparent transparent transparent;
	}

	& div:nth-child(1) {
		animation-delay: -0.45s;
	}

	& div:nth-child(2) {
		animation-delay: -0.3s;
	}

	& div:nth-child(3) {
		animation-delay: -0.15s;
	}
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
