.root {
	padding: 25px 0;
}

.grid {
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-template-columns: repeat(4, minmax(max-content, min-content));
	grid-gap: 40px;

	@include resolution(big-desktop) {
		grid-template-columns: repeat(2, minmax(max-content, min-content));
	}

	@include resolution(tablet) {
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
}

.card {
	box-shadow: $box-shadow-2;
	border-radius: 16px;
	background: $color-white $gradient-1 no-repeat;
	display: block;
	padding: 50px 16px 40px;
	max-width: 345px;
	text-align: center;
	background-size: 100% 130px;

	@include resolution(tablet) {
		display: flex;
		align-items: center;
		max-width: 420px;
		padding: 20px 40px 20px 20px;
		background-size: 100px 100%;
	}

	@include resolution(big-mobile) {
		display: block;
		padding: 50px 16px 40px;
		max-width: 345px;
		text-align: center;
		background-size: 100% 130px;
	}
}

.name {
	position: relative;
	padding-bottom: 17px;
	margin-bottom: 32px;
	font-size: 24px;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $color-silver;
	}
}

.avatar {
	width: 160px;
	height: 160px;
	border: 10px solid $color-white;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto 10px;

	@include resolution(tablet) {
		flex-shrink: 0;
		margin-right: 10px;
	}

	@include resolution(big-mobile) {
		margin: 0 auto 10px;
	}
}
