.OptionsPopup {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 270px;
	padding: 16px 30px;
	box-shadow: $box-shadow-3;
	z-index: 2;
	background-color: $color-white;

	&.OptionsPopupIsOpen {
		display: block;
	}

	.OptionsSection {
		.SectionItem {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 16px 0;
		}
	}
}
