.OptionsPopup {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 270px;
	box-shadow: $box-shadow-2;
	z-index: 2;

	&.OptionsPopupIsOpen {
		display: block;
	}

	.OptionsSection {
		.SectionItem {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}
