.grid {
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;

	@include resolution(desktop) {
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		grid-gap: 30px;
	}

	@include resolution(tablet) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	@include resolution(big-mobile) {
		grid-template-columns: 300px;
	}
}

.card {
	padding: 35px 60px;
	box-shadow: $box-shadow-2;
	text-align: center;

	@include resolution(desktop) {
		padding: 25px 40px;
	}

	@include resolution(tablet) {
		padding: 15px 25px;
	}

	.iconWrapper {
		margin: auto;
		width: 120px;
	}

	&:nth-child(odd) .iconWrapper {
		color: $color-primary;
	}

	&:nth-child(even) .iconWrapper {
		color: $color-secondary;
	}
}

.title {
	font-size: 1.2em;
	margin-bottom: 20px;

	@include resolution(tablet) {
		margin-bottom: 10px;
	}
}
