.root {
	overflow-x: auto;
}

.sub {
	display: block;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 25px 0;
	font-size: 0.9em;

	svg {
		fill: $color-primary;
	}
}

.wrapper {
	max-width: 600px;
	margin: 0 auto 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.statsWrapper {
	min-height: 200px;
	position: relative;
}

.table {
	width: 100%;
	border: 2px solid $color-secondary;
	border-collapse: collapse;
	font-size: 0.9rem;

	td,
	th {
		padding: 10px 0.5rem;
		border: 2px solid $color-secondary;
	}

	td {
		text-align: left;

		&:not(:first-child) {
			text-align: right;
		}
	}
}

.header {
	color: $color-primary;
	font-weight: 600;
	background-color: rgba($color-secondary, 0.3);
}

.result {
	font-weight: 600;
	background-color: rgba($color-cardinal, 0.3);
}
