body {
	min-width: 320px;
	margin: 0;
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.3;
	color: $color-white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: 0.4s ease;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
	transition: 0.4s ease;
	outline: none;
}

.container {
	padding: 0 6.7%;
	margin: 0 auto;
}

.section-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
