body {
	min-width: 320px;
	margin: 0;
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.3;
	color: $color-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include resolution(tablet) {
		font-size: 14px;
	}
}

#root {
	position: relative;
	min-height: 100vh;
	padding-bottom: 80px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: $transition;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

button {
	font-family: inherit;
	cursor: pointer;
	transition: $transition;
	outline: none;
}

.container {
	max-width: 1600px;
	padding: 30px 6.7%;
	margin: 0 auto;
}

.section-title {
	position: relative;
	display: block;
	margin-bottom: 40px;
	font-size: 1.4em;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;

	&::after {
		content: '';
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: -13px;
		width: 100%;
		max-width: 300px;
		height: 2px;
	}
}

.section {
	padding: 25px 0;
	margin-bottom: 50px;

	@include resolution(tablet) {
		margin-bottom: 25px;
	}

	&:nth-child(odd) h2::after {
		background-color: rgba($color-secondary, 0.5);
	}

	&:nth-child(even) h2::after {
		background-color: rgba($color-primary, 0.5);
	}
}

.button {
	padding: 10px 27px;
	color: $color-chestnut;
	font-size: 1rem;
	border: 1px solid;
	box-shadow: $box-shadow-3;
	border-radius: 8px;
	background-color: $color-white;

	&:hover {
		color: $color-white;
		background-color: $color-chestnut;
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
