.root {
	padding: 20px 0;
	text-align: center;
	font-size: 1.1em;
	color: $color-text;
}

.date {
	display: inline-block;
	position: relative;
	padding: 10px 0;
	margin-bottom: 15px;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 120%;
		height: 1px;
		background-color: $color-primary;
	}
}

.title {
	margin-bottom: 25px;
	font-size: 1.5em;
}

.form {
	display: inline-flex;
	flex-direction: column;
	gap: 15px;

	button {
		max-width: 250px;
		margin: 0 auto;
	}

	&[data-submit='true'] {
		pointer-events: none;

		button {
			color: $color-white;
			background-color: $color-emperor;
		}
	}
}

.fieldset {
	padding: 0;
	border: none;
	margin-bottom: 20px;

	legend {
		color: $color-chestnut;
		margin-bottom: 20px;
		font-weight: 600;
	}
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-left: 25px;
}

.label {
	position: relative;
	padding-left: 35px;
	text-align: left;
	border: none;
	user-select: none;
	cursor: pointer;

	input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		cursor: pointer;

		.checkmark {
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 21px;
			width: 21px;
			color: $color-white;
			background-color: $color-botticelli;
			border-radius: 8px;

			svg {
				opacity: 0;
				transition: opacity 0.4s ease;
			}
		}

		&:checked ~ .checkmark {
			background-color: $color-sea-buckthorn;
		}

		&:checked ~ .checkmark svg {
			opacity: 1;
		}
	}

	&:hover input ~ .checkmark {
		background-color: $color-silver;
	}

	input[data-error='true']:checked ~ .checkmark {
		background-color: $color-ocean-green;
	}

	input[data-error='false']:checked ~ .checkmark {
		background-color: $color-red;
	}
}

.errors {
	padding-top: 25px;
}
