.savanna {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
	color: $color-black;
	background-color: #fbb034;
	background-image: linear-gradient(315deg, #fbb034 0%, #fd0 74%);
}

.currWord {
	position: absolute;
	top: 0;
	font-size: 36px;
}

.wordList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.wordListItem {
	padding: 10px 10px;
	font-size: 20px;

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 3px 2px rgb(82, 80, 80);
		background: #ffffff42;
		transition: box-shadow 0.5s, background-color 0.5s;
	}

	span {
		font-size: 14px;
	}
}

.wrongWord {
	background: red;
}

.lives {
	display: flex;
	gap: 5px;
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 130px;

	.heart {
	}

	.redHeart {
		color: red;
	}
}

.gameOver {
	width: 100%;
	max-width: 600px;
	padding: 20px 20px 30px 20px;
	margin-top: 10px;
	text-align: center;
	background-color: #f6f6f6;
	border-radius: 10px;
	box-shadow: 0 0 10px #000000b3;

	.heading {
		margin: 0;
	}

	hr {
		margin-top: 30px;
	}

	.correctAnswers,
	.wrongAnswers {
		margin-top: 30px;

		ul {
			margin-left: 40px;
			text-align: left;

			li {
				display: flex;
				align-items: center;
				gap: 10px;
				margin-top: 10px;
			}
		}
	}

	%wordCount {
		padding: 2px 8px;
		color: $color-white;
		border-radius: 7px;
	}

	.correctWordCount {
		@extend %wordCount;

		background-color: #53b54a;
	}

	.wrongWordCount {
		@extend %wordCount;

		background-color: #b54a4a;
	}

	.allWordsWrapper {
		max-height: 380px;
		overflow-y: scroll;
	}
}
