.chapter {
	.chapterTitleContainer {
		display: flex;
		padding: 16px 0;
		position: relative;

		.chapterTitle {
			flex-basis: 90%;
			flex-grow: 2;
			text-align: center;
		}
	}

	.gamesListContainer {
		display: flex;
		justify-content: center;
		align-items: center;

		& ul.gamesList {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.gamesListItem {
				flex-basis: 20%;
				margin: 0 10px;

				.listItemLink {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 14px 0;
					border-radius: 6px;
					box-shadow: $box-shadow-2;
				}
			}
		}
	}
}
