.chapterItem {
	width: 90%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 25px auto;
	padding: 25px 0;
	box-shadow: $box-shadow-2;

	.itemImage {
		flex-basis: 30%;
		height: auto;
		padding: 0 15px 15px 15px;
		text-align: center;

		@include resolution(tablet) {
			flex-basis: 50%;
		}

		@include resolution(big-mobile) {
			flex-basis: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.itemInfo {
		flex-basis: 45%;
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 0 15px;

		@include resolution(tablet) {
			flex-basis: 50%;
		}

		@include resolution(big-mobile) {
			flex-basis: 100%;
		}

		.itemTitle {
			flex-basis: 100%;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			& > div {
				margin: 0 5px;
				padding: 15px 0;
				font-size: 16px;
			}

			& > button {
				border: none;
				font-size: 24px;
				line-height: 1;
				background-color: transparent;
				color: $color-primary;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.itemParagraph {
			flex-basis: 100%;
			padding: 15px 0;
		}
	}

	.itemSettings {
		flex-basis: 10%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include resolution(tablet) {
			flex-basis: 100%;
		}

		.settingsButton {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-white;
			font-size: 24px;
			line-height: 1;
			margin: 10px;
			padding: 2px 1px;
			border: none;
			background-color: $color-primary;

			&::after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 36px;
				height: 36px;
				color: transparent;
				border: 1px solid;
				border-radius: 5px;
				z-index: 1;
				transition: 0.4s;
			}

			&:hover::after {
				color: $color-primary;
			}
		}
	}

	.itemResults {
		flex-basis: 15%;
		width: 100%;
		padding: 10px;
		flex-grow: 2;

		@include resolution(tablet) {
			flex-basis: 100%;
		}

		.resultItem {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 5px 0;

			& > div {
				margin: 0 auto;

				@include resolution(tablet) {
					padding: 0 15px;
				}
			}
		}
	}
}
